@import 'variable';
*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.background {
  width: 100%;
  height: 600px;
  background-image:url('./images/bg-pattern-intro.svg');
  background-size: 175rem;
  background-position: left;
  background-color: hsl(13, 100%, 72%);
  background-repeat: no-repeat;
  border-bottom-left-radius: 50px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  margin-top: 64px;
  margin-left: 11.59%;
  color: white;
  font-family: 'Overpass', sans-serif;
}

.info {
  width: 21.45%;
  margin-right: 32.02%;
}
.info ul{
  display: flex;
  list-style: none;
  width: 100%;
  font-size: 16px;
  justify-content: space-between;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  opacity: 0.7;
  padding-top: 80px;
}

.info ul a {
  text-decoration: none;
  color: white;
}

.button {
  margin-top: 60px;
  display: flex;
  width: 210px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.btn {
  padding: 20px 40px 20px 40px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  color: $lightRed;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
.button {
  margin-right: 11.1%;
}
.button a {
  text-decoration: none;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  opacity: 0.7;
}

.description {
  display: grid;
  place-items: center;
}

.heading {
  margin-top: 134px;
  font-size: 37px;
  font-family: 'Overpass', sans-serif;
  color: whitesmoke;
  opacity: 0.9;
}

.paragraph {
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0.7;
  margin-top: 25px;
}

.button-new {
  margin-top: 48px;
}

.btn-new {
  border-radius: 50px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  color: $lightRed;
  height: 52px;
  width: 140px;
  text-align: center;
}   
.new-2 {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-left: 19px;
}
// Section-middle

.background-2 {
  font-family:'Overpass', sans-serif;
  display: grid;
  width: 100%;
  overflow-x: hidden;
  grid-template-areas: 'info-new image'
                        'info-new image'
                        'info2 image'
                        'info2 image';
  grid-template-columns: 48% 52%;
  position: relative;
}

.info-new {
  grid-area: info-new;
  margin-left: 19.92%;
  justify-content: center;
  align-self: center;
}

.info-paragraph{
  font-size: 14px;
  color: black;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
  
}

.heading-2 {
  text-align: center;
  font-family:'Overpass', sans-serif;
  width: 100%;
  position: absolute;
  margin-top: 100px;
}

.image {
  grid-area: image;
  margin-left: 16%;
  width: 100%;
}

.info-2 {
  grid-area: info2;
  margin-left: 19.92%;
  align-self: start;
}

